.vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-blue, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-turquoise, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-pink, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-violet, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-peacoc, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-chino, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-mulled-wine, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-vista-blue, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-black, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-orange, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-sky, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-green, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-juicy-pink, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-sandy-brown, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-purple{color:#f2eee5;}

.vc_btn3{font-weight:normal;}

.vc_btn3.vc_btn3-shape-rounded{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

.vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-classic{border:none;}

.vc_general.vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-classic:focus, .vc_general.vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-classic:hover{border:none;}

.vc_btn3.vc_btn3-size-xs, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-xs{font-size:14px; padding:12px 24px;}

.vc_btn3.vc_btn3-size-sm, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-sm{font-size:18px; padding:14px 28px;}

.vc_btn3.vc_btn3-size-md, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-md{font-size:20px; padding:15px 30px;}

.vc_btn3.vc_btn3-size-lg, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg{font-size:24px; padding:16px 30px;}

.vc_general.vc_btn3.vc_btn3-size-lg .vc_btn3-icon{font-size:24px; left:28px;}

.vc_general.vc_btn3 .vc_btn3-icon{vertical-align:middle;}

.vc_btn3.vc_btn3-size-xs.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-xs.vc_btn3-style-outline-custom{padding:9px 25px;}

.vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline-custom{padding:11px 27px;}

.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom{padding:12px 29px;}

.vc_btn3.vc_btn3-size-lg.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-lg.vc_btn3-style-outline-custom{padding:14px 31px;}

.vc_btn3.vc_btn3-color-green, .vc_btn3.vc_btn3-color-green.vc_btn3-style-flat{background-color:#6DAB3C;}

.vc_btn3.vc_btn3-color-peacoc, .vc_btn3.vc_btn3-color-peacoc.vc_btn3-style-flat{background-color:#008bd3;}

.vc_btn3.vc_btn3-color-peacoc.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-peacoc.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-peacoc:focus, .vc_btn3.vc_btn3-color-peacoc:hover{background-color:#0081c2;}

.vc_btn3.vc_btn3-color-turquoise, .vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-flat{background-color:#40bdc8;}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline{color:#bbb; border-color:#bbb;}


.vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-blue, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-turquoise, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-pink, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-violet, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-peacoc, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-chino, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-mulled-wine, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-vista-blue, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-black, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-orange, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-sky, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-green, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-juicy-pink, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-sandy-brown, .vc_general.vc_btn3.vc_btn3-style-classic.vc_btn3-color-purple{color:#FFF;}


.vc_btn3.with-image.vc_btn3-color-blue, .vc_btn3.with-image.vc_btn3-color-blue:hover span{background-color:#5472D2;}

.vc_btn3.with-image.vc_btn3-color-blue:hover{color:#5472D2;}

.vc_btn3.with-image.vc_btn3-color-turquoise, .vc_btn3.with-image.vc_btn3-color-turquoise:hover span{background-color:#00a4b0;}

.vc_btn3.with-image.vc_btn3-color-turquoise:hover{color:#00a4b0;}

.vc_btn3.with-image.vc_btn3-color-pink, .vc_btn3.with-image.vc_btn3-color-pink:hover span{background-color:#f42267;}

.vc_btn3.with-image.vc_btn3-color-pink:hover{color:#f42267;}

.vc_btn3.with-image.vc_btn3-color-violet, .vc_btn3.with-image.vc_btn3-color-violet:hover span{background-color:#7c57bb;}

.vc_btn3.with-image.vc_btn3-color-violet:hover{color:#7c57bb;}

.vc_btn3.with-image.vc_btn3-color-peacoc, .vc_btn3.with-image.vc_btn3-color-peacoc:hover span{background-color:#0081c2;}

.vc_btn3.with-image.vc_btn3-color-peacoc:hover{color:#0081c2;}

.vc_btn3.with-image.vc_btn3-color-chino, .vc_btn3.with-image.vc_btn3-color-chino:hover span{background-color:#CEC2AB;}

.vc_btn3.with-image.vc_btn3-color-chino:hover{color:#CEC2AB;}

.vc_btn3.with-image.vc_btn3-color-mulled-wine, .vc_btn3.with-image.vc_btn3-color-mulled-wine:hover span{background-color:#413a4a;}

.vc_btn3.with-image.vc_btn3-color-mulled-wine:hover{color:#413a4a;}

.vc_btn3.with-image.vc_btn3-color-vista-blue, .vc_btn3.with-image.vc_btn3-color-vista-blue:hover span{background-color:#5dcf8b;}

.vc_btn3.with-image.vc_btn3-color-vista-blue:hover{color:#5dcf8b;}

.vc_btn3.with-image.vc_btn3-color-orange, .vc_btn3.with-image.vc_btn3-color-orange:hover span{background-color:#ffa226;}

.vc_btn3.with-image.vc_btn3-color-orange:hover{color:#ffa226;}

.vc_btn3.with-image.vc_btn3-color-sky, .vc_btn3.with-image.vc_btn3-color-sky:hover span{background-color:#4092df;}

.vc_btn3.with-image.vc_btn3-color-sky:hover{color:#4092df;}

.vc_btn3.with-image.vc_btn3-color-green, .vc_btn3.with-image.vc_btn3-color-green:hover span{background-color:#7abe47;}

.vc_btn3.with-image.vc_btn3-color-green:hover{color:#7abe47;}

.vc_btn3.with-image.vc_btn3-color-juicy-pink, .vc_btn3.with-image.vc_btn3-color-juicy-pink:hover span{background-color:#f23630;}

.vc_btn3.with-image.vc_btn3-color-juicy-pink:hover{color:#f23630;}

.vc_btn3.with-image.vc_btn3-color-sandy-brown, .vc_btn3.with-image.vc_btn3-color-sandy-brown:hover span{background-color:#F79468;}

.vc_btn3.with-image.vc_btn3-color-sandy-brown:hover{color:#F79468;}

.vc_btn3.with-image.vc_btn3-color-purple, .vc_btn3.with-image.vc_btn3-color-purple:hover span{background-color:#B97EBB;}

.vc_btn3.with-image.vc_btn3-color-purple:hover{color:#B97EBB;}

.vc_btn3.with-image.vc_btn3-color-black, .vc_btn3.with-image.vc_btn3-color-black:hover span{background-color:#2A2A2A;}

.vc_btn3.with-image.vc_btn3-color-black:hover{color:#2A2A2A;}

.vc_btn3.with-image.vc_btn3-color-grey, .vc_btn3.with-image.vc_btn3-color-grey:hover span{background-color:#CCC;}

.vc_btn3.with-image.vc_btn3-color-grey:hover{color:#CCC;}

.vc_btn3.with-image.vc_btn3-color-white, .vc_btn3.with-image.vc_btn3-color-white:hover span{background-color:#f0f0f0;}

.vc_btn3.with-image.vc_btn3-color-white:hover{color:#f0f0f0;}